<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Add New User</h1>
    </header>

    <main class="content">
        <div class="form-container">
            <form method="POST" class="add-user-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Enter username">

                <button type="submit" class="add-user-button" aria-label="Add a new user">Add User</button>
            </form>

            <a href="{{ url_for('home') }}" class="back-to-users-button">Back to Users</a>
        </div>
    </main>

    <footer>
        <p>© 2025 Benjamin Becker's MovieWeb App</p>
    </footer>

</body>
</html>
